/* src/styles/index.css */

/* 1. full screen */
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* 2. main app container */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: white;
}

/* 3. CONTENT LAYOUT */
.layout-full {
  flex: 1; /* Fills ALL remaining vertical space */
  display: flex;
  width: 100%;
  overflow: hidden;
}

/* 4. FIX MAP IMAGES */
.leaflet-pane img {
  max-width: none !important;
  box-shadow: none !important;
}

/* 5. RESPONSIVE */
@media (max-width: 900px) {
  .site-header nav {
    gap: 1rem;
  }
}

.left-pane {
  background-color: #5f5d5d;
}
